<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="keywords" content="健身,共享,郑州，搏击">
<meta name="description" content="" />
<meta name="author" content="" />
<title>Rebirth</title>
<link href="/static/rebirth/assets/css/bootstrap-grid.css" rel="stylesheet" />
<link href="/static/rebirth/assets/css/font-awesome.css" rel="stylesheet" />
<link href="/static/rebirth/assets/css/zoomslider.css" rel="stylesheet" />
<link href="/static/rebirth/assets/css/swiper.css" rel="stylesheet" />
<link href="/static/rebirth/assets/css/swipebox.css" rel="stylesheet" />
<link href="/static/rebirth/assets/css/style-pink.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/rebirth/assets/css/jquery-ui.css" />
<link href="/static/rebirth/assets/css/a.css" rel="stylesheet" />
<script type="text/javascript" src="/static/rebirth/assets/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
<script src='//kefu.easemob.com/webim/easemob.js?configId=ace49adf-1e0f-4d85-bcae-7da2453534f2'></script>
<nav class="navbar navbar-fixed-top">
<div class="container">
<div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar top-bar"></span><span class="icon-bar middle-bar"></span><span class="icon-bar bottom-bar"></span></button>

     <a class="logo" href="/index/index/index"><img src="/static/rebirth/assets/images/logo-pink.png" width="200px" alt="Rebirth" /></a>

</div>
<div id="navbar" class="navbar-collapse collapse">
 <!-- Use <div id="search" class="show">for visible block -->
 <div id="search">
  <form>
   <div class="input-div">
	<input type="text" name="search" value="" placeholder="Search" />
   </div>
   <!--<a href="#" class="search-icon fa fa-search"></a>-->
  </form>
 </div>
 <ul class="nav navbar-nav">
  <li style="font-size:20px;"><a href="#"><b>首页</b></a></li>
  <li style="font-size:20px;"><a href="#us"><b>我们</b></a></li>
  <li style="font-size:20px;"><a href="#card"><b>健身卡</b></a></li>
  <li style="font-size:20px;"><a href="#news"><b>资讯</b></a></li>
  <!--<li><a href="/index/index/coaches.html">Our coaches</a></li>-->
  <!--<li><a href="/index/index/coach_full.html">Coach Full Page</a></li>-->
  <li style="font-size:20px;"><a href="#contact"> <b>联系我们</b></a></li>
 </ul>
</div>
</div>
</nav>
<section class="slider-full" data-zs-speed="12000" data-zs-interval="7000" data-zs-switchspeed="4000" data-zs-src="[&quot;/static/rebirth/assets/images/11.png&quot;, &quot;/static/rebirth/assets/images/22.png&quot;, &quot;/static/rebirth/assets/images/_slider-3.jpg&quot;]">
<div class="item">
<div class="container">
 <div class="content">
  <h3>每一天 <br /><span>找回自己</span></h3>
  <!--<p>24小时 随时可达，科学课程放松，邀请好友一起</p>-->
  <a href="#ercode" class="btn btn-pink btn-lg btn-black-bg">马上 预约</a>
 </div>
</div>
</div>
</section>

<section class="block-white">
<div class="container">

 <div class="content" >
  <h3>加入我们 <br /><span>扫描右下侧二维码加入我们，24小时随时健身</span></h3>

  <a href="#ercode" class="btn btn-lg btn-pink">start now</a>
     <img id="ercode" width="400px" style="margin-top: 50px;margin-right: 50px" src="https://r.itao2car.com/static/rebirth/ercode/36.png" alt="">
 </div>


</div>
</section>




<section id="card" class="cards">
<div class="container">
<h3>获取 <span>健身卡</span></h3>
<div class="description">
 健身时间
 <br />0:00-24:00全天开放
</div>
<div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4 col-ms-4">
  <div class="item">
   <img src="/static/rebirth/assets/images/_card-1-pink.png" alt="Card 1" />
   <div class="price">
	<span class="header">体验卡</span>
       <p>登录即送1天体验卡</p>
	<br />
	<span class="val">￥0</span>/天
   </div>
   <div class="btns">
	<a href="#" class="btn btn-pink">I want it</a>
	<!--<a href="#">details</a>-->
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-ms-4">
  <div class="item">
   <img src="/static/rebirth/assets/images/_card-2-pink.png" alt="Card 2" />
   <div class="price">
	<span class="header">月卡</span>
       <p>原价399/月</p>
	<br />
	<span class="val">￥299</span>/月
   </div>
   <div class="btns">
	<a href="#" class="btn btn-pink">I want it</a>

   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4 col-ms-4">
  <div class="item">
   <img src="/static/rebirth/assets/images/_card-3-pink.png" alt="Card 3" />
   <div class="price">
	<span class="header">年卡</span>
       <p>原价299/月</p>
	<br />
	<span class="val">￥1788</span>/年
   </div>
   <div class="btns">
	<a href="#" class="btn btn-pink">I want it</a>

   </div>
  </div>
 </div>
</div>
</div>
</section>

<section id="us" class="skills parallax" style="background-image: url(/static/rebirth/assets/images/_skills-parallax.jpg);">
<div class="container">
<h3>Our <span>skills</span></h3>
<div class="row">
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-1">7940</span> 固定会员
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-2">97</span> 健身方案
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-3">130</span> 优质器材
  </div>
 </div>
 <div class="col-lg-3 col-md-3 col-sm-6 col-ms-6">
  <div class="item">
   <span id="countUp-4">24</span> 全天候开放
  </div>
 </div>
</div>
</div>
</section>
<section id="news" class="blog" id="blog-main">
<div class="container">
<h3>健身 <span>资讯</span></h3>
<div class="row">
 <div class="col-lg-4 col-md-4 col-sm-4">
  <div class="item">
   <a href="#" class="photo"><img src="/static/rebirth/assets/images/_food-1.jpg" class="full-width" alt="Food" /></a>
   <div class="description">
	<a href="#" class="header">增肌的最佳选择</a>
	<p class="text">很多健身爱好者都知道，三分练七分吃，吃是非常重要的一个环节。

        努力锻炼之后，只有补充足够的蛋白质和碳水化合物，才能让肌肉超量恢复，变得更大更强。

        但是很多人并不知道，该选择哪一些食物，该怎么吃。

        这里推荐十一种食物，助你提升增肌效果。</p>
   </div>
   <div class="bottom">
	<div class="row">
	 <div class="col-lg-6 col-sm-12  col-xs-4">
	  <span class="date">January 2, 2019</span>
	 </div>
	 <div class="col-lg-6 col-sm-12  col-xs-8 col-ms-8 right">
	  <ul>
	   <li class="icon-fav fa fa-heart"><a href="#">212</a></li>
	   <li class="icon-comments fa fa-commenting"><a href="#">4</a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4">
  <div class="item">
   <a href="#" class="photo"><img src="/static/rebirth/assets/images/_food-2.jpg" class="full-width" alt="Food" /></a>
   <div class="description">
	<a href="#" class="header">蘑菇的十种做法</a>
	<p class="text">杏鲍菇含有丰富的膳食纤维，食用后可促进肠胃消化，预防便秘，有助排出体内毒素和垃圾，减少色素沉积，有助改善肌肤暗沉，另外，常吃杏鲍菇有助增强人体免疫力，软化血管，对降血脂降胆固醇有一定的作用，是一种老少皆宜的食材。杏鲍菇做法多样，接下来为大家介绍一道酱烧杏鲍菇，吃着比肉都香，杏鲍菇，高蛋白低脂肪的营养食材，这种做法，好吃又下饭</p>
   </div>
   <div class="bottom">
	<div class="row">
	 <div class="col-lg-6 col-sm-12  col-xs-6">
	  <span class="date">January 2, 2019</span>
	 </div>
	 <div class="col-lg-6 col-sm-12  col-xs-6 right">
	  <ul>
	   <li class="icon-fav fa fa-heart"><a href="#">162</a></li>
	   <li class="icon-comments fa fa-commenting"><a href="#">14</a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
 <div class="col-lg-4 col-md-4 col-sm-4">
  <div class="item">
   <a href="#" class="photo"><img src="/static/rebirth/assets/images/_food-3.jpg" class="full-width" alt="Food" /></a>
   <div class="description">
	<a href="#" class="header">如何选择优质肉食</a>
	<p class="text">首先第一个就是在挑选肉类的时候，不能去挑选一些特别鲜红的，而且颜色特别的光亮的一些肉。一般质量好的猪肉的颜色是淡红色，而且注入的颜色也是非常的均匀，所以说要，要想挑选一些优质的肉，首先第一个就看它的颜色。</p>
   </div>
   <div class="bottom">
	<div class="row">
	 <div class="col-lg-6 col-sm-12  col-xs-6">
	  <span class="date">January 2, 2019</span>
	 </div>
	 <div class="col-lg-6 col-sm-12  col-xs-6 right">
	  <ul>
	   <li class="icon-fav fa fa-heart"><a href="#">55</a></li>
	   <li class="icon-comments fa fa-commenting"><a href="#">9</a></li>
	  </ul>
	 </div>
	</div>
   </div>
  </div>
 </div>
</div>
<div class="btn-more">
 <a href="#" class="btn btn-pink">read more</a>
</div>
</div>
</section>
<section class="subscribe">
<div class="container">
<div class="row">
 <div class="col-lg-2 col-md-2 col-xs-12 col-ms-12">
  <span class="percent">-10%</span>
 </div>
 <div class="col-lg-4 col-md-4 col-xs-12 col-ms-12">
  <h3>现在 <span>预约</span></h3>
 </div>
 <div class="col-lg-6 col-md-6 col-xs-12 col-ms-12">
  <form action="/index/message">
   <div class="input-group">
	<input type="text" name="tel" class="form-control" placeholder="请输入 电话" />
	<span class="input-group-btn"><input class="btn btn-black" type="submit" value="预约" /></span>
   </div>
  </form>
 </div>
</div>
</div>
</section>
<section id="contact" class="block-bottom">
<div class="container">
<div class="row">

 <div class="col-lg-3 col-md-3 hidden-sm hidden-xs hidden-ms">
  <h5>联系我们</h5>
 </div>


 <div class="col-lg-3 col-md-3 col-sm-12 col-ms-12 border-right">
  <h5 class="hidden-md hidden-lg">联系我们</h5>
  <form action="/index/message">
   <input type="text" name="name" placeholder="姓名" />
   <input type="text" name="tel" placeholder="电话" />
   <textarea name="message" placeholder="留言"></textarea>
   <input type="submit" name="send" value="Send" class="btn btn-pink btn-black-bg" />
  </form>
 </div>

</div>
</div>
</section>
<footer>
<div class="container">
Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">Rebirth</a>
<a href="#">Terms of use</a>
<a href="#" class="go-top fa fa-arrow-up hidden-xs hidden-ms"><span>go top</span></a>
</div>
</footer>
<script type="text/javascript" src="/static/rebirth/assets/js/jquery.min.js"></script>
<script src="/static/rebirth/assets/js/jquery-ui.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/collapse.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/scrollreveal.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/countUp.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/swiper.jquery.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/jquery.matchHeight.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/jquery.zoomslider.js"></script>
<script src="/static/rebirth/assets/js/map-pink.js"></script>
<script type="text/javascript" src="/static/rebirth/assets/js/scripts.js"></script>
</body>
</html>