.animated{-webkit-animation-duration: .5s;animation-duration: .5s;-webkit-animation-fill-mode: both;animation-fill-mode: both}
@-webkit-keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);transition-timing-function: cubic-bezier(.215, .61, .355, 1)}
	0%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	60%{opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0)}
	75%{-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0)}
	90%{-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0)}
	100%{-webkit-transform: none;transform: none}
	}
@keyframes bounceInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);transition-timing-function: cubic-bezier(.215, .61, .355, 1)}
	0%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	60%{opacity: 1;-webkit-transform: translate3d(0, 25px, 0);transform: translate3d(0, 25px, 0)}
	75%{-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0)}
	90%{-webkit-transform: translate3d(0, 5px, 0);transform: translate3d(0, 5px, 0)}
	100%{-webkit-transform: none;transform: none}
	}
.bounce-in-down{-webkit-animation-name: bounceInDown;animation-name: bounceInDown}
@-webkit-keyframes fadeInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);transition-timing-function: cubic-bezier(.215, .61, .355, 1)}
	0%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	60%{opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	75%{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	90%{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	100%{-webkit-transform: none;transform: none}
	}
@keyframes fadeInDown{0%,100%,60%,75%,90%{-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);transition-timing-function: cubic-bezier(.215, .61, .355, 1)}
	0%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	60%{opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	75%{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	90%{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	100%{-webkit-transform: none;transform: none}
	}
.fade-in-down{-webkit-animation-name: fadeInDown;animation-name: fadeInDown}
@-webkit-keyframes bounceOutUp{20%{-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0)}
	40%,45%{opacity: 1;-webkit-transform: translate3d(0, 20px, 0);transform: translate3d(0, 20px, 0)}
	100%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	}
@keyframes bounceOutUp{20%{-webkit-transform: translate3d(0, -10px, 0);transform: translate3d(0, -10px, 0)}
	40%,45%{opacity: 1;-webkit-transform: translate3d(0, 20px, 0);transform: translate3d(0, 20px, 0)}
	100%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	}
.bounce-out-up{-webkit-animation-name: bounceOutUp;animation-name: bounceOutUp}
@-webkit-keyframes fadeOutUp{20%{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	40%,45%{opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	100%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	}
@keyframes fadeOutUp{20%{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	40%,45%{opacity: 1;-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
	100%{opacity: 0;-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0)}
	}
.fade-out-up{-webkit-animation-name: fadeOutUp;animation-name: fadeOutUp}
.menu-open{height: 100%;width: 100%}
.menu-open .mui-scroll-wrapper{position: absolute;top: 0px;bottom: 0;left: 0;z-index: 1;width: 100%;overflow: hidden;-webkit-backface-visibility: hidden}
.menu-backdrop{display: none}
.menu-open .menu-backdrop{position: fixed;top: 0;bottom: 0;height: 100%;width: 100%;display: block;z-index: 998;background: rgba(0, 0, 0, .6)}
.menu-wrapper{position: fixed;bottom: 0px;left: 0;right: 0;z-index: 999;background-color: #FFF;width: 100%}
.menu-wrapper .title{line-height: 30px;font-size: 16px;text-align: left;padding-left: 10px;color: #F5694B;margin-bottom: 10px;}
.menu-wrapper.hidden{-webkit-transform: translate3d(0, -100%, 0);transform: translate3d(0, -100%, 0);z-index: -1;display: none;}
.menu{width: 100%}
.menu .mui-table-view-inverted{color: gray;font-size: 19px}
.menu .mui-table-view-inverted .mui-table-view-cell:after{height: 2px;left: 0;right: 0}
.menu-wrapper.mui-active,.menu-wrapper.mui-active .menu{-webkit-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0)}
.menu-wrapper{padding: 10px; background-color: #e7e8ed;}
.menu-wrapper .menu-ibox{text-align: left; margin-bottom: 0px;overflow-y: scroll;}
.menu-wrapper .title h5{color: #EA8F05;line-height: 14px; margin: 0px; margin-bottom: 6px;}
.menu-wrapper .title{padding: 10px; border: 1px solid #FFD599;background-color: #FDF4E7;}
.menu-wrapper .title p{ line-height: 13px;font-size: 13px;margin: 0px;}

.menu-wrapper .mui-input-group,.menu-wrapper .menu-ibox{margin-bottom: 10px;max-height:206px;overflow-y: scroll;}
.menu-wrapper .mui-input-group:after,.menu-wrapper .mui-input-group:before{height: 0px;}
.menu-wrapper .mui-input-group .mui-input-row{padding:6px 0px;text-align: center;}
.menu-wrapper .mui-input-group .mui-input-row:after{ left: 0px;}
.menu-wrapper .mui-input-group .mui-input-row img{ height: 55px;width: 82px;float: left;}
.menu-wrapper .actionItem{display: none;}
.menu-wrapper .actionItem.show{display: block;}
.menu-wrapper .actionItem .itemBtn{margin-top: 10px;position: relative;}
.menu-wrapper .actionItem button{ margin-bottom: 0px;font-size: 16px;line-height: 18px;}
.menu-wrapper .closeItem{color: #FFFFFF; background-color: #f0ad4e; font-size: 30px; width: 44px; height: 44px; float: right; line-height: 44px;position: absolute;bottom: 0px;left: 0px;text-align: center;}
.menu-wrapper .mui-btn-block .mui-spinner{line-height: 16px;width: 16px;height: 16px;}

.menu-wrapper .mui-table-view-cell{ padding: 10px 0px;min-height: 50px;}
.menu-wrapper .mui-table-view-cell:after{left: 0px;right: 0px;color: #E9E8EA;}
.menu-wrapper .mui-table-view-cell .mui-switch.mui-active,.menu-wrapper .mui-table-view-cell > .mui-switch{ right: 0px;}
.menu-wrapper .mui-table-view-cell .note{color: #868686;}
.menu-wrapper .mui-table-view-cell.liselect select{ margin: 0px;position: absolute;right: 0px;padding: 0px;line-height: 30px; height: 30px;color: #868686;}
.menu-wrapper .mui-table-view-cell.liselect span{height: 30px;line-height: 30px;position: absolute;left: 0px;}

.menu-wrapper .mui-table-view-cell.mui-media{padding: 10px; background-color: #FFFFFF;}
.menu-wrapper .mui-table-view-cell.mui-media.mui-active{background-color: #FDFDFD;}
.menu-wrapper .mui-table-view-cell.mui-media .mui-media-object{width: 60px; height: 40px;margin: 0px; margin-right: 10px;}
.menu-wrapper .mui-table-view-cell.mui-media h4{font-size: 15px; line-height: 20px;margin: 0px;margin-bottom: 6px;color: #353535;font-weight: normal;}
.menu-wrapper .mui-table-view-cell.mui-media h4 .mui-badge{border-radius: 0px;line-height: 12px; float: right;}
.menu-wrapper .mui-table-view-cell.mui-media h4 i{font-style: normal;font-size: 12px;color: #777777;display: inline-block;padding: 0px 5px;line-height: 16px;border: 1px solid #EFEFEF;}
.menu-wrapper .mui-table-view-cell.mui-media .mui-media-body p{margin: 0px;line-height: 14px;font-size: 14px;}
.menu-wrapper .mui-table-view-cell.mui-media .mui-old{padding: 5px;border: 1px solid #FFD599;margin-top: 8px;background-color: #FDF4E7;}
.menu-wrapper .mui-table-view-cell.mui-media .mui-old .mui-media-object{width: 45px; height: 30px;margin: 0px; margin-right: 10px;}
.menu-wrapper .mui-table-view-cell.mui-media .mui-old h4{font-size: 13px;line-height: 13px; margin-bottom: 5px;}
.menu-wrapper .mui-table-view-cell.mui-media .mui-old i{border: none;padding: 0px;line-height: 12px;}
.menu-wrapper .mui-table-view-cell.mui-media .mui-old p{font-size: 12px;line-height: 12px;}

